.left-side-background{
    -fx-background-color: #e3574d;
}

.right-side-background{
    -fx-background-color: #F1DCAD;
}

.border{
    -fx-border-color: #F1E6E4;
    -fx-border-width: 1.5;
}

.separator{
    -fx-background-color: #F1E6E4;
}

.welcome{
    -fx-background-color: #4E96C4;
}
